.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 0 0 0;
  padding: 20px;
}

.logo {
  width: 100px;
}

.logo a {
  height: 100%;
}

.rights {
  color: var(--dark-sea);
  font-size: 14px;
  line-height: 1.1;
}

.rights a {
  color: var(--violet);
}

.socials {
  display: flex;
  gap: 15px;
}

.socials svg {
  width: 30px;
  height: 30px;
  fill: var(--dark-sea);
  transition: fill var(--transition);
}

.socials svg:hover {
  fill: var(--violet);
}
