.sidebar {
  position: relative;
  width: 304px;
  padding: 24px;
  max-height: 423px;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar::-webkit-scrollbar {
  width: 3px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: var(--grey);
  width: 3px;
}

.sidebar::-webkit-scrollbar-track {
  background-color: var(--dark);
}

.title {
  position: sticky;
  width: 100%;
  padding: 24px 0;
  top: -24px;
  left: 0;
  right: 0;
  font-weight: 600;
  line-height: 20px;
  background: var(--dark);
}

.sidebar nav {
  margin: 0 0 20px 0;
}

.menu {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.link {
  color: var(--dark-sea);
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
}

.link:hover {
  color: var(--white);
}

.link.active {
  color: var(--violet);
}

.footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}
