.sidebar {
  border-radius: 6px;
  overflow: hidden;
}

.sidebarBody {
  position: relative;
  width: 304px;
  padding: 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 24px 0;
  font-weight: 600;
  line-height: 20px;
  background: var(--dark);
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.sidebar nav {
  margin: 30px 0 40px;
  height: 100%;
  overflow-y: scroll;
  max-height: 300px;
}

.menu {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.sidebar nav::-webkit-scrollbar {
  width: 3px;
}

.sidebar nav::-webkit-scrollbar-thumb {
  background-color: var(--grey);
  width: 3px;
}

.sidebar nav::-webkit-scrollbar-track {
  background-color: var(--dark);
}

.link {
  color: var(--dark-sea);
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
}

.link:hover {
  color: var(--white);
}

.link.active {
  color: var(--violet);
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 24px;
}
